students{
background-color:#808080;
margin-top:15px;
font-weight:bold;
color:red;
display:block;
text-align:center;
}


Usn{
margin-top:15px;
font-weight:bold;
color:red;
display:block;
text-align:center;
}

Name{
margin-top:15px;
font-weight:bold;
color:black;
display:block;
text-align:center;
}

College{
margin-top:15px;
font-weight:bold;
color:yellow;
display:block;
text-align:center;
}

Branch{
margin-top:15px;
font-weight:bold;
color:green;
display:block;
text-align:center;
}

e-mail{
margin-top:15px;
font-weight:bold;
color:blue;
display:block;
text-align:center;
}


